@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');





*{
padding: 0;
margin: 0;


}
.main{
    width: 100%;
display: flex;



}
.sidemenu{
width: 200px;
height: 100%;
background: #000;

}
.sidemenu ul{
margin-top: 50px;



}
.sidemenu ul li{
list-style: none;
margin-top: 20px;
padding: 15px;


}
.sidemenu ul li a{
text-decoration: none;
color: aliceblue;
font-family: 'Nunito', sans-serif;
}
.sidemenu ul li:hover{
background: #ff6b6b;


}
.boxcontact{



}
.boxcontact h1{
    
margin-top: 20px;
text-align: center;
margin-left: 150px;
font-family: 'Nunito', sans-serif;

}
table{
width: 100%;


}

table th{

    border :1px solid #000;
    margin-left: 10px;
    text-align: center;
    padding: 15px;


}
table th,  td{

    border :1px solid #000;
    margin-left: 10px;
    text-align: center;
    padding: 15px;
}

@media  screen and (max-width:400px) {
    
}

